<div class="banner">
  <%= link_to "Simple Airbnb", flats_path, class: "brand_logo"%>
  <div class="banner_right">
    <form action="#" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control mr-2" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-success mr-2 search">Search</button>
    </form>
    <%= link_to "Add Flat", new_flat_path, class: "btn btn-primary add-flat" %>
  </div>
</div>

<div class="container">
  <h1>All out Flats</h1>
  <p>You searched for . We found <%= @flats.count %> flats out of our <%= @flats.count %> on our website.</p>
  <div class="cards">
    <% @flats.each do |flat| %>
    <div class="card">
      <img src= "<%= flat.photo_url %>" alt='flat_photo'>
      <div class="top_content">
        <h4><%= flat.name %></h4>
        <p><%= flat.address %></p>
        <div class="top_content_two">
          <div class="icon_text">
            <i class="fas fa-user-friends"></i>
            <p><%= flat.number_of_guests %></p>
          </div>
          <div class="icon_text">
            <i class="fas fa-euro-sign"></i>
            <p><%= flat.price_per_night %></p>
          </div>
        </div>
      </div>
      <div class="bottom_content">
        <%= link_to "More info", flat_path(flat), class: "text-primary my-3 mx-3" %>
        <%= link_to "Edit", edit_flat_path(flat), class: "text-warning my-3 mx-3" %>
        <%= link_to "Remove", flat_path(flat), class: "text-danger my-3 mx-3", method: :delete, data: { confirm: "Delete #{flat.name}?" } %>
      </div>
    </div>
    <% end %>
  </div>
</div>
